.BoolCheck {
}

.BoolCheck-input {
    box-sizing: border-box;
    border: none;
    border: 1px solid #C1B4AE;
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: border 0.25s ease-in-out;
}

.BoolCheck-input:hover,
.BoolCheck-input:active {
    border: 1px solid #283845;
}

.BoolCheck-result {
    border-top: 1px solid #283845;
    width: 100%;
}

.BoolCheck-expression {
    padding: 8px;
}

.BoolCheck-empty {
    color: #283845;
    padding: 30px 15px;
    line-height: 20px;
}

.BoolCheck-result th {
    border-bottom: 1px solid #283845;
}

.BoolCheck-result td,
.BoolCheck-result th {
    text-align: center;
    padding: 4px;
}

.BoolCheck-result tr:nth-child(odd) td {
    background-color: #ECE4B7;
}

.BoolCheck-var {
    color: purple;
    padding: 0 1px;
}

.BoolCheck-op {
    color: burlywood;
    padding: 0 1px;
}