.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 240px;
    margin-bottom: 30px;
    padding: 0 15px;
    color: #212529;
    background: #e9ecef;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.Header-main {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 4px;
}

.Header-sub {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}

.Header-text {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}
