.Header {
    margin-bottom: 16px;
}

.Header-main {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #D36135;
}

.Header-sub {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}

.Header-note {
    font-size: 14px;
    line-height: 18px;
    color: #C1B4AE;
}
